/* #region Common style */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #2e2f42;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.title-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize
}

.title-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* #endregion */

/* #region Header */
.header {
    border-bottom: 1px solid #E7E9FC;
    max-height: 72px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding: 24px 0;
}

.studio-dark {
    color: #2e2f42;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    padding: 24px 0;
    display: block;
}

.home {
    position: relative;
    color: #404bbf;
   
}
.home::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}


.header-address {
    font-style: normal;
}

.header-address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 24px 0;
}

.header-address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;

    padding: 24px 0;
}
.header-nav-item,
.header-address-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-item:hover,
.header-nav-item:focus,
.header-address-item:hover,
.header-address-item:focus {
    color: #404bbf;
    
}
/* #endregion */

/* #region Main page */ 
.main-page {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ),
        url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    padding: 188px 0;
    margin: 0 auto;
}

.slogan {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
}

.main-page-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    text-align: center;
    cursor: pointer;

    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-btn:hover,
.main-page-btn:focus {
    background-color: #404BBF;
}
/* #endregion */

/* #region Opportunities */
.section-opportunities {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.opportunities-list {
    display: flex;
    gap: 24px;
}
.opportunities-item {
    width: calc((100% - 3*24px)/4);
}
.opportunities-icon-box {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
}
.oppotunities-icons {
    fill: #2E2F42;
}
.opportunities-item>h3 {
    margin-bottom: 8px;
}
/* #endregion */

/* #region Our team */
.section-ourteam {
    background: #f4f4fd;
    padding: 120px 0;
}

.section-ourteam>.container>.title-two {
    margin-bottom: 72px;
}

.ourteam-list {
    display: flex;
    gap: 24px;
}

.ourteam-item {
    width: calc((100% - 3*24)/4);
    border-radius: 0 0 4px 4px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.ourteam-info {
    padding: 32px 0;
}

.ourteam-info>.title-three {
    text-align: center;
    margin-bottom: 8px;
}

.ourteam-info>.text {
    text-align: center;
    margin-bottom: 8px;
}
.social-links-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.social-item {
    width: 40px;
    height: 40px;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
}
.social-links:hover, .social-links:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ourteam-social-link {
    fill: #f4f4fd;
}
/* #endregion */
    
/* #region Portfolio */
.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-portfolio>.container>.title-two {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 2*24px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}
.portfolio-app-info {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-app-info>.title-three {
    margin-bottom: 8px;
}
.img-overlay {
    position: relative;
    overflow: hidden;
}
.img-overlay > .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .img-overlay>.text {
    transform: translateY(0%);
}

/* #endregion */

/* #region Footer */
.footer {
    background: #2e2f42;
    padding: 100px 0;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-sl-text {
color: #fff;
font-weight: 500;
margin-bottom: 16px;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.studio-light {
    color: #f4f4fd;
}
.footer > .container {
    display: flex;
    align-items: baseline;
}
.logo-text {
 margin-right: 120px;
}
.footer-social-links {
    display: flex;
    flex-direction: column;
    max-width: 208px;
    margin-right: 80px;

}
.footer-social-links-list {
    gap: 16px;
}
.footer-social-links-list .social-links:hover, .footer-social-links-list .social-links:focus {
    background-color: #31d0aa;
}
.form-subscribe > label {
    display: block;

}
.footer-input {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input:placeholder-shown {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 8px 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn-subscribe {
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    margin: 0;
    display: inline;
}
.telegram {
    fill: #fff;
}
.input-btn {
    display: flex;
    gap: 24px;
}
.footer-input:hover::placeholder {
    color: #4d5ae5;
}
.footer-input:hover, .footer-input:focus {
    border: 1px solid #4d5ae5;
}
/* #endregion */

/* #region Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;\
    z-index: 999;
}
.is-open {
    opacity: 1;
    pointer-events: auto;
}
.modal {
    position: absolute;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    padding: 24px;
    width: 408px;
    min-height: 584px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

}
.close-icon {
    fill: #2E2F42;
}
.modal > .text {
    font-weight: 500;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 16px;
    color: #2e2f42;
}
.modal > label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}
.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: border, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover, .close-btn:focus {
    border: none;
    background-color: #404bbf;
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
    fill: #fff;
}
.input-modal {
    border: 1px solid rgba(46, 47, 66, 0.4);        
    border-radius: 4px;
    width: 360px;
    height: 40px;
    margin-bottom: 8px;
    padding-left: 38px;
    transition: border, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:active, .input-modal:focus {
    border: 1px solid #4d5ae5;
}
.textarea {
    height: 120px;
    padding: 8px 16px;
    resize: none;

}
.textarea::placeholder-shown {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
    
        color: rgba(46, 47, 66, 0.4);

}
.modal-span {
    line-height: 1.33333;
    text-decoration: underline;
    color: #4d5ae5;

}
.modal > .main-page-btn {
    margin-top: 24px;
}
.icon-input {
    fill: #2e2f42;
    position: absolute;
}
.svg-name {
    top: 144px;
    left: 43px;
}
.svg-phone {
    top: 209px;
    left: 43px;
}
.svg-email {
    top: 276px;
    left: 41.5px;
}
.input-modal:active . ,
.input-modal:focus .icon-input {
    fill: #4D5AE5;
}

/* #endregion */